<%- include('header') -%>
<p class="intro">Veldu flokk til aรฐ hefja leikinn:</p>
<section class="flokkar-val">
  <ul>
    <% for (const category of categories) { %>
     <li><a href="/spurningar/<%=category.name%>"><%=category.name%></a></li>
    <% } %>
  </ul>
</section>

<%- include('footer') -%>